/* MenuBar */

/*
頁面
深藍紫: #46366b;
淺藍紫: #e1ebfd;
框藍紫: #4b53b4;
中藍紫: #d6e2fd;
淡藍紫: #eff7ff;
*/
BODY
{
	font-family: 新細明體;
}

/*
系統選單表格
*/
TABLE.MenuBar
{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	border: solid 0px #e1ebfd;
	border-collapse: collapse;
	background-color: #e1ebfd;
	width: 100%;
}

/*
系統選項欄位 - 一般
*/
TD.MBItem
{
	padding: 2 2 0 2;
	border: solid 1 #e1ebfd;
	background-color: #0028A0;
	font-size: 13px;
	font-weight: normal;
	color: #ffffff;
	text-align: center;
}

/*
系統選項欄位 - 選擇
*/
TD.MBItemS
{
	padding: 2 2 0 2;
	border: solid 1 #e1ebfd;
	background-color: #0028A0;
	font-size: 13px;
	font-weight: normal;
	color: #ffffA0;
	text-align: center;
}

/*
系統選項連結 - 一般
*/
A.MBILink
{
	color: #ffffff;
	text-decoration: none;
}

/*
系統選項連結(mouse on) - 一般
*/
A.MBILink:hover
{
	color: #ffff00;
	text-decoration: underline;
}

/*
系統選項連結 - 選擇
*/
A.MBILinkS
{
	color: #ffff00;
	text-decoration: none;
}

/*
系統選項連結(mouse on) - 選擇
*/
A.MBILinkS:hover
{
	color: #ffff00;
	text-decoration: underline;
}



/*
區域 - 模組外框
*/
DIV.Module_Out
{
	z-index: 999;
	padding: 10 0 10 0;
	border-style: groove;
	border-color: Navy;
	border-width: thick;
	background-color: #def1ff;
	position: absolute;
	top: 31px;
	overflow: visible;
}

/*
模組選單表格
*/
TABLE.ModuleBar
{
	margin: 10 20 10 10;
	padding: 0 0 0 0;
	border-collapse: collapse;
}

/*
模組選項欄位 - 一般
*/
TD.MOItem
{
	padding: 10 10 10 10;
	font-size: 20px;
	font-weight: bold;
}

/*
模組選項欄位 - 選擇
*/
TD.MOItemS
{
	padding: 10 10 10 10;
	font-size: 20px;
	font-weight: bold;
}

/*
模組選項連結 - 一般
*/
A.MOILink
{
	color: #46366b;
	text-decoration: none;
}

/*
模組選項連結(mouse on) - 一般
*/
A.MOILink:hover
{
	color: #bdb76b;
	text-decoration: underline;
}

/*
模組選項連結 - 選擇
*/
A.MOILinkS
{
	color: Red;
	text-decoration: none;
}

/*
模組選項連結(mouse on) - 選擇
*/
A.MOILinkS:hover
{
	color: #bdb76b;
	text-decoration: underline;
}



/*
操作選項連結 - 一般
（注意：由於無法套用在 TreeViewMenu 上，故請修改 u_TreeViewMenu 屬性）
*/
A.MTILink
{
	color: #46366b;
	text-decoration: none;
	padding: 2 2 2 2;
}

/*
操作選項連結(mouse on) - 一般
（注意：由於無法套用在 TreeViewMenu 上，故請修改 u_TreeViewMenu 屬性）
*/
A.MTILink:hover
{
	color: #ffff33;
	background-color: #46366b;
	text-decoration: none;
	padding: 2 2 2 2;
}

/*
操作選項連結 - 選擇
（注意：由於無法套用在 TreeViewMenu 上，故請修改 u_TreeViewMenu 屬性）
*/
A.MTILinkS
{
	color: #ffff00;
	background-color: #46366b;
	text-decoration: none;
	padding: 2 2 2 2;
}

/*
操作選項連結(mouse on) - 選擇
（注意：由於無法套用在 TreeViewMenu 上，故請修改 u_TreeViewMenu 屬性）
*/
A.MTILinkS:hover
{
	color: #ffff99;
	background-color: #46366b;
	text-decoration: underline;
	padding: 2 2 2 2;
}



/*
操作項目選項文字 - 一般
*/
SPAN.MFItem
{
	margin: 0 0 0 0;
	padding: 2 0 0 0;
	position: absolute;
	border: solid 1 #cccccc;
	background-color: #f1f9e9;
	font-size: 12px;
	font-weight: normal;
	color: #45693f;
	text-align: center;
	vertical-align: middle;
	cursor: hand;
	letter-spacing: 0pt;
}
SPAN.MFItemLine
{
	border: solid 1 #cccccc;
}

SPAN.MFItem1
{
	background-color: #d5ffff;
	color: #000080;
}
SPAN.MFItem1S
{
}

SPAN.MFItem2
{
	background-color: #e2ffc6;
	color: #004000;
}
SPAN.MFItem2S
{
}

SPAN.MFItem3
{
	background-color: #ffd9ec;
	color: #400000;
}
SPAN.MFItem3S
{
}

SPAN.MFItem4
{
	background-color: #ffffc6;
	color: #515128;
}
SPAN.MFItem4S
{
}

SPAN.MFItem5
{
	background-color: #eddbff;
	color: #400080;
}
SPAN.MFItem5S
{
}

SPAN.MFItem6
{
	background-color: #ffddcc;
	color: #804000;
}
SPAN.MFItem6S
{
}

SPAN.MFItem7
{
	background-color: #9ad3fe;
	color: #000040;
}
SPAN.MFItem7S
{
}

SPAN.MFItem8
{
	background-color: #add685;
	color: #004000;
}
SPAN.MFItem8S
{
}

SPAN.MFItem9
{
	background-color: #ff99cc;
	color: #400000;
}
SPAN.MFItem9S
{
}

SPAN.MFItemS
{
	font-size: 14px;
	font-weight: bold;
}
