BODY {SCROLLBAR-FACE-COLOR: #D7EBF4; 
SCROLLBAR-HIGHLIGHT-COLOR: #FFFFBF; 
SCROLLBAR-SHADOW-COLOR: #3399cc; 
SCROLLBAR-ARROW-COLOR: #3399FF; 
SCROLLBAR-TRACK-COLOR: #eeeeee; 
SCROLLBAR-DARKSHADOW-COLOR: #FFFFBFF;
SCROLLBAR-3DLIGHT-COLOR: #3399FF}

.inputA {border : 1px solid #C0C0C0;background-color:#F0F0FF; font-size:10pt; color:#44638c;}
.inputB {font-size:10pt;
         color: #44638c;
         font-family:"Calibri", "mingliu", "taipei"
         border:2px dotted #000000;background-color:#FfffFF;}

.font_TITLE {font-size:13pt;
                color: #707070;
                font-family:"Calibri", "mingliu", "taipei"}

.font_red_10 {font-size:10pt;
                color: #C40000;
               font-family:"Calibri", "mingliu", "taipei"}

.font_red_11 {font-size:11pt;
                color: #C40000;
               font-family:"Calibri", "mingliu", "taipei"}

.font_white_10 {font-size:10pt;
                color: #FFFFFF;
               font-family:"Calibri", "mingliu", "taipei"}
.font_white_11 {font-size:11pt;
                color: #FFFFFF;
               font-family:"Calibri", "mingliu", "taipei"}
.font_gry_9 {font-size:9pt;
             color: #727272;
            font-family:"Calibri", "mingliu", "taipei"}

.font_gry_10 {font-size:10pt;
             color: #727272;
            font-family:"Calibri", "mingliu", "taipei"}

.font_black_10 {font-size:10pt;
                color: #000000;
            font-family:"Calibri", "mingliu", "taipei"}

.font_black_10_b {font-size:10pt;
                  font-weight:700;
                  color: #000000;
            font-family:"Calibri", "mingliu", "taipei"}

.font_black_11_b {font-size:11pt;
                  font-weight:700;
                  color: #000000;
            font-family:"Calibri", "mingliu", "taipei"}
             
.font_black_11 {font-size:11pt;
                  color: #000000;
            font-family:"Calibri", "mingliu", "taipei"}             
                  
.font_org_11 {font-size:11pt;
              color: #D98B08;
            font-family:"Calibri", "mingliu", "taipei"}                 
   
.font_blue_5 {font-size:5pt;
               color: #44638c;
            font-family:"Calibri", "mingliu", "taipei"}
                                 
.font_blue_10 {font-size:10pt;
               color: #44638c;
               font-family:"Calibri", "mingliu", "taipei"}
             
.font_blue_11 {font-size:11pt;
               color: #44638c;
            font-family:"Calibri", "mingliu", "taipei"}             
                                              
.font_blue_12 {font-size:12pt;
               color: #44638c;
            font-family:"Calibri", "mingliu", "taipei"}             
        

.locationtext {font-size: 10pt; color:#666666;;
            font-family:"Calibri", "mingliu", "taipei"}

.textl {font-size: 11pt; color: #000000; line-height: 15pt;
            font-family:"Calibri", "mingliu", "taipei"}

DIV.place-view {position:relative;top:0px;left:340px;float:left;}      

DIV.place-contact {position:relative;top:0px;left:345px;float:left;}

DIV.place-homepage {position:relative;top:0px;left:350px;float:left;}    
                  
DIV.place-user {position:relative;top:5px;left:30px;float:left;width:160px;height:25px;}

INPUT.blue {border-bottom:#E4EDF3 1px;
             border-left:#E4EDF3 1px;
             border-right:#E4EDF3 1px;
             border-top:#E4EDF3 1px;
             background-color:#E4EDF3;
            }
                                                    
TABLE.style {
             background-color:#E4EDF3;
             border-color:#76A0C0;
             border-style:solid;
             border-width:1px;
            font-family:"Calibri", "mingliu", "taipei"}

TABLE.style_layer1 {
             background-color:#FFFFFF;
             border-color:#76A0C0;
             border-style:solid;
             border-width:1px;
            font-family:"Calibri", "mingliu", "taipei"}

TABLE.style_layer2 {
             background-color:#FFFFFF;
             border-color:#76A0C0;
             border-style:solid;
             border-width:1px;
            font-family:"Calibri", "mingliu", "taipei"}

TABLE.style_1 {
             background-color:#E4EDF3;
             border-color:#76A0C0;
             border-style:solid;
             border-width:1px;
             border: thin solid;
             border-collapse:collapse;
            font-family:"Calibri", "mingliu", "taipei"}

TABLE.content_Black {font-size:10pt;
                     color: #000000;                     
                     border-color:#000000;
                     border-style:solid;
                     border-width:1px;
                     border-collapse:collapse;
            font-family:"Calibri", "mingliu", "taipei"}

TABLE.content_Purple {font-size:10pt;
                     color: #727272;                     
                     border-color:#915384;
                     border-style:solid;
                     border-width:1px;
                     border-collapse:collapse;
            font-family:"Calibri", "mingliu", "taipei"}

TABLE.content_Purple_1 {
                     font-size:10pt;
                     color: #727272;                     
                     border-color:#915384;
                     border-style:solid;
                     border-width:1px;
                     border-collapse:collapse;
            font-family:"Calibri", "mingliu", "taipei"}

TABLE.content_Purple_2 {width:360px;
                     font-size:10pt;
                     color: #727272;                     
                     border-color:#915384;
                     border-style:solid;
                     border-width:1px;
                     border-collapse:collapse;
            font-family:"Calibri", "mingliu", "taipei"}

TABLE.content_Green {width:535px;
                     font-size:10pt;
                     color: #727272;                     
                     border-color:#718626;
                     border-style:solid;
                     border-width:1px;
                     border-collapse:collapse;
            font-family:"Calibri", "mingliu", "taipei"}

TABLE.content_Green_1 {width:300px;
                       font-size:10pt;
                       color: #727272;                     
                       border-color:#718626;
                       border-style:solid;
                       border-width:1px;
                       border-collapse:collapse;
            font-family:"Calibri", "mingliu", "taipei"}
                      
TABLE.content_Green_2 {width:400px;
                       font-size:10pt;
                       color: #727272;                     
                       border-color:#718626;
                       border-style:solid;
                       border-width:1px;
                       border-collapse:collapse;
            font-family:"Calibri", "mingliu", "taipei"}
                      
TABLE.content_Green_3 {
                       font-size:10pt;
                       color: #727272;                     
                       border-color:#718626;
                       border-style:solid;
                       border-width:1px;
                       border-collapse:collapse;
            font-family:"Calibri", "mingliu", "taipei"}                                    

TABLE.content_Blue   {
                       font-size:10pt;
                       color: #727272;                     
                       border-color:#000040;
                       border-style:solid;
                       border-width:1px;
                       border-collapse:collapse;
            font-family:"Calibri", "mingliu", "taipei"}

TABLE.content_Blue_2   {
                       font-size:10pt;
                       color: #727272;                     
                       border-color:#446D8C;
                       border-style:solid;
                       border-width:1px;
                       border-collapse:collapse;
            font-family:"Calibri", "mingliu", "taipei"}

TABLE.content_Gray   {
                       font-size:10pt;
                       color: #727272;                     
                       border-color:#B0B0B0;
                       border-style:solid;
                       border-width:1px;
                       border-collapse:collapse;
            font-family:"Calibri", "mingliu", "taipei"}
                      
TABLE.content_Ore    {
                       font-size:10pt;
                       color: #727272;                     
                       border-color:#E79208;
                       border-style:solid;
                       border-width:1px;
                       border-collapse:collapse;
            font-family:"Calibri", "mingliu", "taipei"}

TABLE.content_Ore_1  {width:470px;
                       font-size:10pt;
                       color: #727272;                     
                       border-color:#E79208;
                       border-style:solid;
                       border-width:1px;
                       border-collapse:collapse;
            font-family:"Calibri", "mingliu", "taipei"}                 

TABLE.content_Red {
                     font-size:10pt;
                     color: #727272;                     
                     border-color:#800040;
                     border-style:solid;
                     border-width:1px;
                     border-collapse:collapse;
            font-family:"Calibri", "mingliu", "taipei"}

TD.content_Green {font-size:10pt;
                  color: #727272;
                  border-color:#718626;
                  border-style:solid;
                  border-width:1px;
            font-family:"Calibri", "mingliu", "taipei"}          

TD.content_Red1 { width:200px;
                  font-size:10pt;
                  color: #727272;
                  border-color:#800040;
                  border-style:solid;
                  border-width:1px;
            font-family:"Calibri", "mingliu", "taipei"}

TD.content_Red2 { width:80px;
                  font-size:10pt;
                  color: #727272;
                  border-color:#800040;
                  border-style:solid;
                  border-width:1px;
            font-family:"Calibri", "mingliu", "taipei"}          

TR.location {background-color:#FDEFD9;
             border-color:#F7BC5B;
             border-style:solid;
             border-width:1px;
             height:20px;
            font-family:"Calibri", "mingliu", "taipei"}
           
A.menu:link   {font-size:10pt;
               text-decoration: none ; 
               color: #446D8C ;
            font-family:"Calibri", "mingliu", "taipei"}           /* unvisited link */
A.menu:visited  {font-size:10pt;
                 text-decoration: none ;
                 color: #446D8C ;
            font-family:"Calibri", "mingliu", "taipei"}       /* visited links */
A.menu:hover {font-size:10pt;
              text-decoration: underline ;
              color:red;;
            font-family:"Calibri", "mingliu", "taipei"}    
              
A.menu1:link   {font-size:10pt;
               text-decoration: none ; 
               color: #077F07 ;
            font-family:"Calibri", "mingliu", "taipei"}           /* unvisited link */
A.menu1:visited  {font-size:10pt;
                 text-decoration: none ;
                 color: #077F07 ;
            font-family:"Calibri", "mingliu", "taipei"}       /* visited links */
A.menu1:hover {font-size:10pt;
              text-decoration: underline ;
              color:red;;
            font-family:"Calibri", "mingliu", "taipei"}        
              
A.menu2:link   {font-size:10pt;
               text-decoration: none ; 
               color: #0000c4 ;
            font-family:"Calibri", "mingliu", "taipei"}           /* unvisited link */
A.menu2:visited  {font-size:10pt;
                 text-decoration: none ;
                 color: #0000c4 ;
            font-family:"Calibri", "mingliu", "taipei"}       /* visited links */
A.menu2:hover {font-size:10pt;
              text-decoration: underline ;
              color:red;
            font-family:"Calibri", "mingliu", "taipei"}    
              
A.menu3:link   {font-size:10pt;
               text-decoration: none ; 
               color: #E99516 ;
            font-family:"Calibri", "mingliu", "taipei"}           /* unvisited link */
A.menu3:visited  {font-size:10pt;
                 text-decoration: none ;
                 color: #E99516 ;
            font-family:"Calibri", "mingliu", "taipei"}       /* visited links */
A.menu3:hover {font-size:10pt;
              text-decoration: underline ;
              color:red;
            font-family:"Calibri", "mingliu", "taipei"}                                                         

A.homepage:link   {font-size:10pt;
               text-decoration: none ; 
               color: #F4A828 ;
            font-family:"Calibri", "mingliu", "taipei"}           /* unvisited link */
A.homepage:visited  {font-size:10pt;
                 text-decoration: none ;
                 color: #F4A828;
            font-family:"Calibri", "mingliu", "taipei"}       /* visited links */
A.homepage:hover {font-size:10pt;
                  color:#FFFFFF;
                  background-color:#F7BC5B;
            font-family:"Calibri", "mingliu", "taipei"}      

A.blue:link   {font-size:10pt;
               text-decoration: none ; 
               color: #446D8C ;
            font-family:"Calibri", "mingliu", "taipei"}           /* unvisited link */
A.blue:visited  {font-size:10pt;
                 text-decoration: none ;
                 color: #446D8C ;
            font-family:"Calibri", "mingliu", "taipei"}       /* visited links */
A.blue:hover {font-size:10pt;
              text-decoration: none ;
              background-color:#446D8C;
              color:#FFFFFF;
            font-family:"Calibri", "mingliu", "taipei"}   

A.register:link   {font-size:10pt; 
               color: #446D8C ;
               text-decoration: underline ;
            font-family:"Calibri", "mingliu", "taipei"}           /* unvisited link */
A.register:visited  {font-size:10pt;
                 color: #446D8C ;
               text-decoration: underline ;
            font-family:"Calibri", "mingliu", "taipei"}       /* visited links */
A.register:hover {font-size:10pt;
                  color:#C40000;
                text-decoration: none ;
            font-family:"Calibri", "mingliu", "taipei"}   

a.greed:link    {text-decoration:none;color:#0055cc;
            font-family:"Calibri", "mingliu", "taipei"}
a.greed:visited {text-decoration:none;color:#0055cc;
            font-family:"Calibri", "mingliu", "taipei"}
a.greed:hover   {text-decoration:underline;color:#2288ff;
            font-family:"Calibri", "mingliu", "taipei"}                 
                
a.black:link    {text-decoration:none;color:#000000;
                 font-size:9pt;
            font-family:"Calibri", "mingliu", "taipei"}
a.black:visited {text-decoration:none;color:#000000;
                 font-size:9pt;
            font-family:"Calibri", "mingliu", "taipei"}
a.black:hover   {text-decoration:underline;color:#446D8C;
                 font-size:9pt;
            font-family:"Calibri", "mingliu", "taipei"} 
             
a.red:link    {text-decoration:none;color:#c40000;
                 font-size:11pt;
            font-family:"Calibri", "mingliu", "taipei"}
a.red:visited {text-decoration:none;color:#c40000;
                 font-size:11pt;
            font-family:"Calibri", "mingliu", "taipei"}
a.red:hover   {text-decoration:underline;color:#446D8C;
                 font-size:11pt;
            font-family:"Calibri", "mingliu", "taipei"}              
                             
.BoxCase  {position:absolute;left:-800px;top:-600px;width:50px;height:20px;visibility:hidden;z-index:1;}
.BoxCase  {border:solid 2px outset;text-align:left;padding:6px;background:#edf3f7;color:#998880;}
.BoxCase  {font-size:10pt;line-height:17px;letter-spacing:2px;}                                                           